*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-image: url(https://img.freepik.com/free-vector/green-neon-synthewave-patterned-background-vector_53876-165950.jpg?w=1380&t=st=1682835312~exp=1682835912~hmac=73ab9ebea625d1c57094b19d89781cfb4208c92bebb6b5d7080863f7353205bd);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.center{
	position: relative;
	text-align: center;
}
#head{
    font-size: 1.8em;
	color: rgb(0,0,0);
}
#desc{
    font-size: 1.4em;
	color: rgb(0,0,0);
}
#subheading{
    font-size: 18px;
    margin-top: 10px;
}
#content1{
    width: 90%;
    margin: auto;
}
form{
    background-color: rgba(0,0,0,0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}
form .box{
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#option1 select{
    width: 98.5%;
    height: 2.7em;
    position: relative;
    bottom: -5px;
    border-radius: 5px;
    border: 0;
}
button{
    width: 98.5%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: rgb(18, 219, 78);
    border: name;
    color: rgb(255, 255, 2555);
}