*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-business-simple-exhibition-board-jobs-image_22339.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
#head{
    font-size: 1.8em;
}
#subheading{
    font-size: 18px;
    margin-top: 10px;
}
#content1{
    width: 90%;
    margin: auto;
}
form{
    background-color: rgba(0,0,0,0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}
#option1 select{
    width: 98.5%;
    height: 2.7em;
    position: relative;
    bottom: -5px;
    border-radius: 5px;
    border: 0;
}
button{
    width: 98.5%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: rgb(18, 219, 78);
    border: name;
    color: rgb(255, 255, 2555);
}
